fastapi
uvicorn
sqlalchemy
alembic
pydantic
pydantic-settings
psycopg2-binary
apscheduler
yt-dlp
opencv-python-headless
easyocr
google-generativeai
python-dotenv
httpx
requests
mistralai>=1.0.0
grpcio
